* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.bg-image {
  position: relative;
  background-image: url("./img/split.avif");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(20px);
}

.bg-text p {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
}
